.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    margin-top: 18px;
    margin-bottom: 20px;
}

.header .nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 40px; 
    animation-name: a1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes a1 {
    from{background-color: white;}
    to{background-color: blue;}
}

.header .nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    animation-name: a2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes a2 {
    from{color: black;}
    to{color: rgb(31, 175, 31);}
}

.top-content {
    display: flex;
    border-bottom: 1px dashed black;
    margin: 0px 0px 40px;
    padding: 0px 0px 40px;
}

.contact {
    margin-bottom: 40px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}